/* Flex box */
.fcontainer{
    display: flex;
    max-height: calc(100vh - 108px);
}
@media only screen and (max-width: 768px){
    .fcontainer{
        max-height: calc(100vh - 154px);
    }
}
@media only screen and (max-width: 425px){
    .fcontainer{
        max-height: calc(100vh - 200px);
    }
}
.glosary{
    border-right: 1px solid gray;
    margin-right: 10px;
    padding-right: 10px;
    flex: 200px 1;
    overflow-y: scroll;
}

.content{
    margin-top: 0;
    flex: 300px 5;
    overflow-y: scroll;
}

.toggleMenu{
    display: none;
}
.title_container{
    display: flex;
    flex-direction: row;
    padding: 0;
}
h1 {
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
h3{
    margin: 0;
}
.Previous, .Next{
    margin: 0 10px 0 10px;
    display: inline-block;
    padding: 0 10px 0 10px;
    color: white;
    background-color: gray;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.menu{
    display: none;
    cursor: pointer;
    font-size: xx-large;
    margin: 0 10px 0 0;
    text-align: center;
    padding: 0;
}
.guidedMessage{
    display: none;
}
@media only screen and (max-width: 600px){
    .glosary{
        display: none;
    }
    .menu{
        display: inline;
    }
    .active{
        display: block;
    }
    .guidedMessage{
        display: block;
    }
}

/* Link formatting*/
.glosary_items{
    cursor: pointer;
    color: blue;
}

.glosary_items:hover{
    text-decoration: underline;
}
.glosary_items:active{
    color: black;
}
